body {
    font-size: 16pt;
}

h1 {
    text-align: center;
    color: red;
}

hr {
    height: 2px;
    color: blue;
    border-color: blue;
    background-color: blue;
}

h2 {
    text-align: left;
    color: blue;
}

html {
    background-color: #81DAF5;
}

.pagedesc {
    text-align: center;
}