#Opener {
  text-align: center;
  background-color: turquoise;
  width: 80%;
  margin: auto;
}
#Facts {
  background-color: turquoise;
  width: 80%;
  margin: auto;
}
body {
  background-color: lightblue;
}
