body {
	background-image: url(gold.jpg);
}
#box {
	background-color: #777777;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	width: 1000px;
	margin: auto;
}
img {
	width: 150px;
	float: right;
	border: thin black solid;
	margin-right: 50px;
	margin-top: 10px;
}
h1 {
	text-align: center;
	text-decoration: underline;
	color: #f9bd33;
}
u {
	color: #f9bd33;
}
p {
	margin-left: 20px;
}
ul {
	margin-left: 30px;
	color: #f9bd33;
	list-style-image: url(letter.jpg);
}
