/* Main CSS */
body {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
	font-size: 32px;
	text-align: center;
	font-family: monospace;
	text-decoration: underline;
}
#title {
	color: white;
	margin-left: 205px;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
p {
	font-size: 18px;
	font-family: Courier;
	color: white;
}
a {
	color: #40a3bf;
}
div {
	margin-left: 205px;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div h1 {
	font-family: monospace;
	text-decoration: none;
	font-size: 24px;
	color: white;
	text-align: center;
}

.text-center {
	text-align: center;
}

/*Nav CSS*/
.nav {
	background: rgba(204, 204, 204, 0);
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.nav a {
	font-family: 'Courier New', Courier, monospace;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	display: block;
}

.nav a:hover {
	color: #36d8e0;
	text-decoration: bold;
}

.nav p {
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	text-decoration: solid;
	text-align: center;
}

.main {
	margin-left: 160px;
	padding: 0px 10px;
}

.floor-text-nav {
	position: fixed;
	left: 30px;
	text-align: center;
}

@media screen and (max-height: 450px) {
	.nav {
		padding-top: 15px;
	}
	.nav a {
		font-size: 18px;
	}
}

/* highlighter */
.color {
	background-color: yellow;
}

/* Image Scaler */
img {
	transition: transform 0.25s ease;
}

img:hover {
	-webkit-transform: scale(1.75);
	transform: scale(1.75);
}
